* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
    font-size: 12px;
}

ul, ol {
	list-style: none;
}

.m-logo {
	height: 30px;
	margin-top: -5px;
}

.site-topbar {
    position: relative;
    z-index: 99;
    height: 36px;
    font-size: 12px;
    color: #b0b0b0;
    background: #cccccc;
}


.topbar-info {
    position: relative;
    float: right;
    height: 36px;
    line-height: 36px;
}


@media (min-width: 1191px) { .container-fluid { width: 1190px;}

}

@media (max-width: 1190px) { .navbar { width: 1190px;}	
}

@media (min-width: 769px) {
	.navbar {
		background-color: #7C2D86;
		margin: 0;
		border: 0;
		border-radius: 0;
	}
	.navbar-default .navbar-nav>li>a {
		color: #ffffff;
	}
}

@media (max-width: 768px) { .navbar { width: 100%;}	
}

@media (max-width: 320px) { .navbar { width: 320px;}	
}
