<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="fix-box">
		<div class="container">
			<dl class="w200">
				<dt>美容美发</dt>
				<dd>
					<a data-type="1" class="details-a-click">专业美容</a>
				</dd>
				<dd>
					<a data-type="3" class="details-a-click">美容养生</a>
				</dd>
				<dd>
					<a data-type="12" class="details-a-click">减肥纤体</a>
				</dd>
				<dd>
					<a data-type="8" class="details-a-click">保健护理</a>
				</dd>
				<dd>
					<a data-type="26" class="details-a-click">专业发品</a>
				</dd>
				<dd>
					<a data-type="25" class="details-a-click">专业美发</a>
				</dd>
			</dl>
			<dl>
				<dt>专业彩妆</dt>
				<dd>
					<a data-type="5" class="details-a-click">美甲</a>
				</dd>
				<dd>
					<a data-type="6" class="details-a-click">美睫</a>
				</dd>
				<dd>
					<a data-type="17" class="details-a-click">彩妆</a>
				</dd>
			</dl>
			<dl>
				<dt>美业设备</dt>
				<dd>
					<a data-type="7" class="details-a-click">微美纹饰</a>
				</dd>
				<dd>
					<a data-type="13" class="details-a-click">抗衰护肤</a>
				</dd>
				<dd>
					<a data-type="11" class="details-a-click">仪器设备</a>
				</dd>
				<dd>
					<a data-type="10" class="details-a-click">大医美</a>
				</dd>
			</dl>
			<dl>
				<dt>美妆护肤</dt>
				<dd>
					<a data-type="19" class="details-a-click">美妆用品</a>
				</dd>
				<dd>
					<a data-type="20" class="details-a-click">面膜品牌</a>
				</dd>
				<dd>
					<a data-type="18" class="details-a-click">香水</a>
				</dd>
				<dd>
					<a data-type="21" class="details-a-click">微商</a>
				</dd>
				<dd>
					<a data-type="16" class="details-a-click">个人护理</a>
				</dd>
			</dl>
			<dl>
				<dt>代工企业</dt>
				<dd>
					<a data-type="2" class="details-a-click">院线代工</a>
				</dd>
				<dd>
					<a data-type="23" class="details-a-click">加工包材</a>
				</dd>
				<dd>
					<a data-type="24" class="details-a-click">原料</a>
				</dd>
				<dd>
					<a data-type="22" class="details-a-click">日化代工</a>
				</dd>
			</dl>
	
		</div>
	</div>
	

	<div class="hidden-xs">
		<hr class="hr1" />
	</div>
	
	<div id="show">
		
	</div>
</body>
<script>
    //    var DETAILS_URL = "/view/data/"
    var LOGO_URL = "//meibanglai.com/image/mbhbrand/";
    var show = document.getElementById("show");

    var row = document.createElement("div");
    row.classList.add("row");
    row.classList.add("marginTop1r");
    row.setAttribute("style","display: none;");
    var c1 = document.createElement("div");
    c1.classList.add("col-xs-12");
    c1.classList.add("col-sm-12");
    c1.classList.add("col-md-12");
    var c2 = document.createElement("div");
    c2.classList.add("hidden-xs");
    c2.classList.add("col-sm-2");
    c2.classList.add("col-md-2");
    var c3 = document.createElement("div");
    c3.classList.add("col-xs-12");
    c3.classList.add("col-sm-8");
    c3.classList.add("col-md-8");
    var showData = function (data) {
        var a = document.createElement("a");
        a.setAttribute("style","color: #000000;");
//        a.setAttribute("href", "/view/data/MbhBrand.html?d="+data.id);
        var h1 = document.createElement("h1");
        h1.innerHTML = data.brand_name;
        a.appendChild(h1);

        var img = document.createElement("img");
        img.setAttribute("src", LOGO_URL+data.brand_logo);
        img.setAttribute("class","details-1-img");

        var p = document.createElement("p");
        var p1 = p.cloneNode(true);
        var p2 = p.cloneNode(true);
        var p3 = p.cloneNode(true);
        var p4 = p.cloneNode(true);
//      console.log(p1);
        p1.innerHTML="公司名："+data.campany_name;
        p1.setAttribute("style","font-weight: bold;font-size: 1rem;");
        p2.innerHTML="参展产品："+data.product_name;
        p3.innerHTML="产品介绍："+data.product;
        p3.classList.add("show_box1-context_product");
        p4.innerHTML="品牌官网："+data.website;


        var Nc1 = c1.cloneNode(true);
        var Nc2 = c2.cloneNode(true);
        var Nc3 = c3.cloneNode(true);
        var Nrow = row.cloneNode(true);
        Nc3.appendChild(p1);
        Nc3.appendChild(p2);
        Nc3.appendChild(p3);
        Nc3.appendChild(p4);
        Nc3.classList.add("show_box1-context");

        Nc2.appendChild(img);

        Nc1.appendChild(a);

//        Nrow.setAttribute("href",);
        Nrow.appendChild(Nc1);
        Nrow.appendChild(Nc2);
        Nrow.appendChild(Nc3);

        show.appendChild(Nrow);

        show.appendChild(document.createElement("hr"));

    }

</script>
</html>