<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>店家招聘</dt>
				<dd>
					<a data-type="1" class="details-a-click">本地招聘信息</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">本地求职信息</a>
				</dd>
			</dl>
		</div>
	</div>
	
	<div id="wp"></div>
	</div>
</body>
<script id="tpl" type="text/html">
	<%var DETAIL_PREFIX = '/view/data/invitation.html';%>
	<table class="table">
		<tr class="warning">
			<th class="col-xs-6 col-lg-4">职位名称</th>
			<th class="col-xs-6 col-lg-4">薪资待遇</th>
			<th class="visible-lg">所在地</th>
			<th class="visible-lg">发布时间</th>
			<th></th>
		</tr>
		<%for (var i = 0; i < data.length; i++) {%>
		<tr class="active">
			<td>
				<span><%:=data[i].jod_name%></span>
				<span><%:=data[i].company_name%></span>
			</td>
			<td>
				<span><%:=data[i].treatment_leve%></span>
				<span>
					<span>五险一金</span>
					<span>包吃住</span>
					<span>年终奖</span>
				</span>
			</td>
			<td class="visible-lg">
				<%:=data[i].jod_release_address%>
			</td>
			<td class="visible-lg">
				<%:=data[i].jod_release_time%>
			</td>
			<td>
				<button class="btn btn-primary" onclick="window.location.href='<%:=DETAIL_PREFIX%>?d=<%:=data[i].id%>'">查看职位</button>
			</td>
			<%}%>
		</tr>
	</table>
	<hr>
</script>
</html>