<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>店家招聘</dt>
				<dd>
					<a data-type="1" class="details-a-click">本地招聘信息</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">本地求职信息</a>
				</dd>
			</dl>
		</div>
	</div>
	
	<div id="wp"></div>
	</div>
</body>
<script id="tpl" type="text/html">
	<%var DETAIL_PREFIX = '/view/data/invitation.html';%>
	<table class="table">
		<%for (var i = 0; i < data.length; i++) {%>
		<tr class="active">
			<td>
				<p><%:=data[i].jod_name%></p>
				<p><%:=data[i].company_name%></p>
			</td>
			<td>
				<p><%:=data[i].treatment_leve%></p>
				<p>
					<span>五险一金</span>
					<span>包吃住</span>
					<span>年终奖</span>
				</p>
			</td>
			<td>
				<%:=data[i].jod_release_address%>
			</td>
			<td>
				<%:=data[i].jod_release_time%>
			</td>
			<td>
				<a class="btn btn-primary" href="<%:=DETAIL_PREFIX%>?d=<%:=data[i].id%>">查看职位</a>
			</td>
			<%}%>
		</tr>
	</table>
	<hr>
</script>
</html>