<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>门店转让</dt>
				<dd>
					<a data-type="1" class="details-a-click">美业转让</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">其他转让</a>
				</dd>
			</dl>
		</div>
	</div>
	
	<div id="wp"></div>
</body>
<script id="tpl" type="text/html">
	<%var DETAIL_PREFIX = '/view/data/shoptransfer.html';%>
	<%var DEFAULT_IMAGE_URI = '//meibanglai.com/image/shoptransfer/';%>
	<table class="table">
		<%for (var i = 0; i < data.length; i++) {%>
		<tr class="active">
			<td>
				<img src="<%:=DEFAULT_IMAGE_URI%><%:=data[i].image_url.split(";")[0]%>" style="width: 171px; height: 128px;"/>
			</td>
			<td>
				<p>
					<%:=data[i].transfer_name%>
				</p>
				<p>
					<%:=data[i].address%>
				</p>
			</td>
			<td>
				<p>
					租金：<%:=data[i].rental%>
				</p>
				<p>
					转让费：<%:=data[i].transfer_gold%>
				</p>
			</td>
			<td>
				<%:=data[i].type%>
			</td>
			<td>
				<%:=data[i].jod_release_time%>
			</td>
			<td>
				<a class="btn btn-primary" href="<%:=DETAIL_PREFIX%>?d=<%:=data[i].id%>">查看详情</a>
			</td>
			<%}%>
		</tr>
	</table>
	<hr>
</script>
</html>