.sm-rgn .rgn-item {
	position: relative;
	min-height: 26px
}

.sm-rgn .rgn-info {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	line-height: 16px;
	background: #efa300;
	color: #c40100
}

.mei-index-tag950 {
	background-color: #fff;
	width: 950px
}

.mei-index-tag950 h3 {
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 'Microsoft Yahei', arial;
	font-weight: 700;
	color: #3c3c3c
}

.mei-index-tag950 .bd {
	width: 948px;
	padding: 0;
	border: 1px solid #e8e8e8;
	zoom: 1
}

.mei-index-tag950 .bd:after {
	content: '';
	display: table;
	clear: both
}

.mei-index-tag950 .bd a {
	color: #3c3c3c
}

.mei-index-tag950 .bd a:hover {
	text-decoration: underline
}

.mei-index-tag950 .hot a {
	color: #f94379
}

.hot-words {
	width: auto;
	height: 198px;
	background: #fff
}

.hot-words .last-wrap {
	_width: 188px!important
}

.hot-words .hot-words-wrap {
	float: left;
	width: 20%;
	height: 100%;
	display: block;
	overflow: hidden
}

.hot-words .hot-words-wrap .hot-words-content {
	position: relative;
	width: 100%;
	height: 100%
}

.hot-words .hot-words-wrap .hot-words-content b.v-line {
	display: block;
	width: 0;
	height: 142px;
	border-right: 1px dotted #e0e0e0;
	position: absolute;
	right: 0;
	bottom: 28px
}

.hot-words .hot-words-wrap .hot-words-content .info-wrap {
	margin: 20px;
	height: 55px;
	position: relative;
	margin-bottom: 10px
}

.hot-words .hot-words-wrap .hot-words-content .info-wrap .img-wrap {
	position: absolute;
	left: 0;
	top: 0;
	height: 55px;
	width: 55px;
	overflow: hidden;
	border: 4px solid #ededef;
	border-radius: 55px
}

.hot-words .hot-words-wrap .hot-words-content .info-wrap .head-line,
.hot-words .hot-words-wrap .hot-words-content .info-wrap .sub-head-line {
	padding-left: 68px
}

.hot-words .hot-words-wrap .hot-words-content .info-wrap .head-line {
	font: 14px/28px bold "Microsoft YaHei" "\5b8b\4f53";
	color: #111
}

.hot-words .hot-words-wrap .hot-words-content .info-wrap .sub-head-line {
	font: 12px/26px normal "\5b8b\4f53";
	color: #878787
}

.hot-words .hot-words-wrap .hot-words-content .list-wrap {
	padding: 4px 15px 0 20px
}

.hot-words .hot-words-wrap .hot-words-content .list-wrap .list {
	height: 96px;
	overflow: hidden;
	text-align: justify;
	text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify
}

.hot-words .hot-words-wrap .hot-words-content .list-wrap .list a {
	color: #666;
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	padding-right: 5px;
	line-height: 24px
}

.hot-words .hot-words-wrap .hot-words-content .list-wrap .list a.hl {
	color: #fb427f
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.hot-words .hot-words-wrap .hot-words-content .list-wrap .list:after {
		content: ".";
		display: inline-block;
		width: 100%;
		overflow: hidden;
		height: 0
	}
}

.hot-words .hot-words-wrap .hot-words-content.last b.v-line {
	display: none
}

.sm-mz-personal-240-cut {
	width: 238px;
	height: 398px;
	border: 1px solid #e8e8e8;
	overflow: hidden
}

.sm-mz-personal-240-cut img {
	vertical-align: middle
}

.sm-mz-personal-240-cut h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 1.1em
}

.sm-mz-personal-240-cut .service-btns {
	width: 190px;
	height: 74px;
	overflow: hidden;
	margin-top: 24px;
	margin-left: 32px
}

.sm-mz-personal-240-cut .service-btns .iconbtn {
	margin-right: 10px;
	float: left;
	_display: inline;
	width: 53px;
	overflow: hidden;
	text-align: center
}

.sm-mz-personal-240-cut .service-btns .iconbtn a,
.sm-mz-personal-240-cut .service-btns .iconbtn a:hover {
	color: #333
}

.sm-mz-personal-240-cut .service-btns .iconbtn .pic {
	position: relative
}

.sm-mz-personal-240-cut .service-btns .iconbtn .text {
	color: #333;
	line-height: 32px
}

.sm-mz-personal-240-cut .ranking {
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 20px 6px 20px;
	height: 360px;
	box-sizing: border-box
}

.sm-mz-personal-240-cut .ranking .ranking-list {
	height: 100%;
	overflow: hidden
}

.sm-mz-personal-240-cut .ranking .ranking-list li {
	margin-bottom: 20px;
	height: 62px;
	clear: both
}

.sm-mz-personal-240-cut .ranking .ranking-list li .pic {
	float: left;
	_display: inline;
	margin-right: 10px;
	position: relative;
	border: 1px solid #e8e8e8
}

.sm-mz-personal-240-cut .ranking .ranking-list li .pic .top {
	position: absolute;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 10px;
	top: 0;
	left: 0;
	background: #aa73d2;
	color: #fff;
	text-align: center
}

.sm-mz-personal-240-cut .ranking .ranking-list li .info {
	float: left;
	_display: inline;
	line-height: 21px
}

.sm-mz-personal-240-cut .ranking .ranking-list li .info .text,
.sm-mz-personal-240-cut .ranking .ranking-list li .info .text a {
	width: 126px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	color: #666
}

.sm-mz-personal-240-cut .ranking .ranking-list li .info .cost strong {
	font-size: 12px;
	font-weight: normal
}

.sm-mz-personal-240-cut .ranking .ranking-list li .info .cost span {
	font-size: 12px;
	font-weight: bold
}

.sm-mz-personal-240-cut .ranking .ranking-list li .info .selledNum {
	color: #999
}

.sm-mz-personal-240-cut .problem {
	padding: 20px 20px 6px 20px
}

.sm-mz-personal-240-cut .problem .problem-list {
	position: relative
}

.sm-mz-personal-240-cut .problem .problem-list .pl-hd {
	position: absolute;
	right: 0;
	_right: 20px;
	top: -30px;
	_top: -33px
}

.sm-mz-personal-240-cut .problem .problem-list .pl-hd .tiny-prev,
.sm-mz-personal-240-cut .problem .problem-list .pl-hd .tiny-next {
	background: url('//img.alicdn.com/tps/i1/T1MqGbFFpdXXaH16M.-13-30.png') 0 0 no-repeat;
	height: 14px;
	width: 16px;
	float: left;
	cursor: pointer
}

.sm-mz-personal-240-cut .problem .problem-list .pl-hd .tiny-next {
	background-position: 0 -17px
}

.sm-mz-personal-240-cut .problem .problem-list .pl-hd .tiny-page {
	line-height: 14px;
	float: left;
	margin: 0 3px
}

.sm-mz-personal-240-cut .problem .problem-list .pl-hd .tiny-page .cur {
	color: #ab73d2
}

.sm-mz-personal-240-cut .problem .problem-list .pl-nav {
	display: none
}

.sm-mz-personal-240-cut .problem .problem-list .scroller {
	position: relative;
	height: 62px;
	width: 198px;
	overflow: hidden
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont {
	position: absolute
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li {
	margin-bottom: 10px;
	height: 62px;
	overflow: hidden;
	float: left
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li a,
.sm-mz-personal-240-cut .problem .problem-list .pl-cont li a:hover {
	color: #666
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li .pic {
	float: left;
	_display: inline;
	border: 1px solid #e8e8e8;
	margin-right: 10px
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li .info {
	float: left;
	_display: inline;
	line-height: 20px
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li .info .title {
	font-weight: bold;
	color: #333
}

.sm-mz-personal-240-cut .problem .problem-list .pl-cont li .info .text {
	width: 126px;
	overflow: hidden;
	color: #666
}

.sm-mz-personal-240-cut .problem .problem-center {
	margin-top: 10px
}

.sm-mz-personal-240-cut .problem .problem-center a,
.sm-mz-personal-240-cut .problem .problem-center a:hover,
.sm-mz-personal-240-cut .problem .problem-center span {
	color: #ab73d2;
	font-weight: bold
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav {
	width: 240px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li {
	display: inline-block;
	position: relative;
	float: left;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background-color: #f5f5f5;
	width: 70px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li .show-selected {
	display: none
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.tab-100 {
	width: 100px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.tab-70 {
	width: 70px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.selected {
	background-color: white;
	font-weight: bold;
	color: #aa72d2;
	width: 100px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.selected .show-notselected {
	display: none
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.selected .show-selected {
	display: inline
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li.selected:before {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #aa72d2
}

.sm-mz-personal-240-cut .J_tab_personal .tab-nav li a {
	color: #3c3c3c
}

.sm-mz-personal-240-cut .J_tab_personal .tab-content {
	height: 360px
}

.sm-mz-personal-240-cut .J_tab_personal .tab-content .tab-panel {
	height: 100%
}

.sm-mz-personal-240-cut .icon-1111 {
	position: absolute;
	display: none;
	right: 0;
	bottom: 0;
	height: 16px;
	width: 36px;
	background: url(//img.alicdn.com/tps/i1/TB1AOjWGpXXXXblXFXXf81VIFXX-74-32.png) no-repeat 0 0
}

.isIn1111 .icon-1111 {
	display: inline-block
}


/*!YUI-Compressor */

@font-face {
	font-family: 'jiantou231';
	src: url('//at.alicdn.com/t/font_1398663577_398179.eot');
	src: url('//at.alicdn.com/t/font_1398663577_398179.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1398663577_398179.woff') format('woff'), url('//at.alicdn.com/t/font_1398663577_398179.ttf') format('truetype'), url('//at.alicdn.com/t/font_1398663577_398179.svg#iconfont') format('svg')
}

@font-face {
	font-family: 'arr';
	src: url('//at.alicdn.com/t/font_1398663577_398179.eot');
	src: url('//at.alicdn.com/t/font_1398663577_398179.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1398663577_398179.woff') format('woff'), url('//at.alicdn.com/t/font_1398663577_398179.ttf') format('truetype'), url('//at.alicdn.com/t/font_1398663577_398179.svg#iconfont') format('svg')
}

.sm-mod-2-21-left {
	width: 950px;
	height: 480px;
	overflow: hidden
}

.sm-mod-2-21-left .mod-wrap {
	width: auto;
	height: 478px;
	border: 1px solid #e8e8e8;
	border-right: 0;
	overflow: hidden
}

.sm-mod-2-21-left .mod-wrap .slide-wrap,
.sm-mod-2-21-left .mod-wrap .slide {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden
}

.sm-mod-2-21-left .mod-wrap .tab-content {
	width: 100%;
	height: 100%;
	position: relative
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel {
	height: 478px
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .pannel-wrap {
	width: 105%
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box {
	display: block;
	float: left;
	width: 189px;
	border-right: 1px dotted #e8e8e8;
	border-bottom: 1px dotted #e8e8e8;
	height: 240px
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-img {
	display: block;
	width: 160px;
	height: 160px;
	padding: 20px 0 10px 0;
	margin: 0 auto;
	text-align: center
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-img a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	*display: block;
	*font-size: 139.68px;
	*font-family: Arial;
	width: 160px;
	height: 160px
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-img a img {
	vertical-align: middle
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-title {
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin: 0 auto;
	height: 18px
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-title a {
	font: 12px/18px "\5b8b\4f53";
	color: #666
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-price {
	width: 160px;
	display: block;
	margin: 0 auto;
	height: 18px;
	overflow: hidden
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-price .g_price {
	float: left;
	margin-right: 6px
}

.sm-mod-2-21-left .mod-wrap .tab-content .tab-pannel .float-box .item-price .ship-icon {
	float: left;
	color: #FFF;
	font-size: 10px;
	display: inline;
	margin-top: 3px;
	width: 27px;
	height: 14px;
	background: url(//img.alicdn.com/tps/i1/T1S9xJFIleXXcUdm2I-400-400.png) 0 -120px no-repeat;
	zoom: 1;
	vertical-align: top;
	margin-right: 3px;
	text-indent: -9999px
}

.sm-mod-2-21-left .mod-wrap .arr-l,
.sm-mod-2-21-left .mod-wrap .arr-r,
.sm-mod-2-21-left .mod-wrap .arr-l.hover,
.sm-mod-2-21-left .mod-wrap .arr-r.hover {
	position: absolute;
	top: 220px;
	width: 30px;
	height: 40px;
	display: block;
	text-align: center;
	font: 27px/40px "arr";
	color: #dbdbdb;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none
}

.sm-mod-2-21-left .mod-wrap .arr-l {
	left: 10px
}

.sm-mod-2-21-left .mod-wrap .arr-l.hover,
.sm-mod-2-21-left .mod-wrap .arr-r.hover {
	background: #efefef;
	background: rgba(0, 0, 0, 0.5)
}

.sm-mod-2-21-left .mod-wrap .arr-r {
	right: 10px
}

.sm-mod-2-21-left .mod-wrap .tab-nav {
	display: none
}

.hot-tags {
	margin: 5px auto 0;
	width: 156px;
	height: 260px;
	overflow: hidden
}

.hot-tags .hd {
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	line-height: 40px
}

.hot-tags .bd {
	width: 180px
}

.hot-tags .bd .h-item {
	margin: 0 6px 10px 0;
	width: 46px;
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	background: #f4f4f4;
	text-align: center;
	border: solid 1px #e2e2e2
}

.hot-tags .bd .h-item a {
	display: block;
	color: #606060;
	cursor: pointer;
	text-decoration: none
}

.pop-elms {
	margin: 10px auto 0;
	width: 156px;
	height: 100px
}

.pop-elms .hd {
	font-size: 14px;
	font-weight: bold
}

.pop-elms .bd {
	margin-top: 5px;
	width: 180px
}

.pop-elms .bd .p-item {
	margin-right: 18px;
	height: 70px;
	width: 42px;
	overflow: hidden
}

.pop-elms .bd .p-item a {
	text-decoration: none
}

.pop-elms .bd .p-item a .p-title {
	margin-top: 2px;
	height: 20px;
	width: 42px;
	text-align: center;
	display: block;
	color: #606060
}

.mei-floor-right2 {
	border: solid 1px #e3e3e3;
	width: 238px;
	height: 478px;
	background: #fff
}

.mei-floor-right2 .hot-tags {
	width: 180px;
	height: 227px
}

.mei-floor-right2 .hot-tags .bd {
	width: 200px
}

.mei-floor-right2 .hot-tags .bd .h-item {
	width: 54px
}

.mei-floor-right2 .pop-elms {
	width: 180px;
	margin-top: 30px
}

.mei-floor-right2 .pop-elms .hd {
	margin-bottom: 10px
}

.mei-floor-right2 .pop-elms .bd {
	width: 210px
}

.mei-floor-right2 .pop-elms .p-item {
	width: 50px;
	height: 90px;
	margin-right: 15px;
	float: left;
	*display: inline
}

.mei-floor-right2 .pop-elms .p-item a img {
	height: 50px;
	width: 50px
}

.sm-mod-2-3-ranking {
	width: 238px;
	height: 478px;
	border: 1px solid #e8e8e8;
	overflow: hidden
}

.sm-mod-2-3-ranking img {
	vertical-align: middle
}

.sm-mod-2-3-ranking .ranking {
	padding: 20px 20px 6px 20px
}

.sm-mod-2-3-ranking .ranking h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 15px;
	line-height: 1.1em
}

.sm-mod-2-3-ranking .ranking .ranking-list {
	overflow: hidden
}

.sm-mod-2-3-ranking .ranking .ranking-list li {
	margin-bottom: 20px;
	height: 62px;
	clear: both
}

.sm-mod-2-3-ranking .ranking .ranking-list li .pic {
	float: left;
	_display: inline;
	margin-right: 10px;
	position: relative;
	border: 1px solid #e8e8e8
}

.sm-mod-2-3-ranking .ranking .ranking-list li .pic .top {
	position: absolute;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 10px;
	top: 0;
	left: 0;
	background: #aa73d2;
	color: #fff;
	text-align: center
}

.sm-mod-2-3-ranking .ranking .ranking-list li .info {
	float: left;
	_display: inline;
	line-height: 21px
}

.sm-mod-2-3-ranking .ranking .ranking-list li .info .text,
.sm-mod-2-3-ranking .ranking .ranking-list li .info .text a {
	width: 126px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	color: #666
}

.sm-mod-2-3-ranking .ranking .ranking-list li .info .cost strong {
	font-size: 12px;
	font-weight: normal
}

.sm-mod-2-3-ranking .ranking .ranking-list li .info .cost span {
	font-size: 12px;
	font-weight: bold
}

.sm-mod-2-3-ranking .ranking .ranking-list li .info .selledNum {
	color: #999
}

.sm-mod-226 {
	border: 1px solid #e8e8e8
}

.sm-mod-226 .tab-nav {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f4f4f4
}

.sm-mod-226 .tab-nav li {
	float: left;
	width: 160px;
	margin-left: -1px;
	padding-top: 1px;
	text-align: center
}

.sm-mod-226 .tab-nav li a {
	line-height: 40px;
	font-size: 16px;
	text-decoration: none;
	color: #3c3c3c;
	outline: 0
}

.sm-mod-226 .tab-nav .selected {
	margin-top: -1px;
	padding-top: 0;
	border-top: 2px solid #fa4f83;
	background-color: #fff
}

.sm-mod-226 .tab-nav .selected a {
	display: block;
	font-weight: 700;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	color: #fa4f83
}

.sm-mod-226 .tab-content {
	height: 340px;
	overflow: hidden
}

.sm-mod-226 .tab-box {
	padding: 20px 0 10px 20px;
	height: 310px;
	overflow: hidden
}

.sm-mod-226 .tab-box li {
	color: #9c9c9c;
	float: left;
	_display: inline;
	width: 180px;
	overflow: hidden;
	margin-right: 13px
}

.sm-mod-226 .tab-box li .pic {
	margin-bottom: 7px;
	height: 180px;
	overflow: hidden;
	width: 180px
}

.sm-mod-226 .tab-box li .text {
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden
}

.sm-mod-226 .tab-box li .text a {
	color: #6c6c6c
}

.sm-mod-226 .tab-box li .cost .g_price span {
	font-size: 16px
}

.sm-mod-226 .tab-box li .cost .g_price strong {
	font-weight: 400;
	font-size: 22px
}

.sm-mod-226 .tab-box em,
.sm-mod-226 .tab-box strong {
	color: #f40
}

.sm-mod-226 .tejia-box li .cost .g_price strong {
	font-weight: 400
}

.sm-mod-226 .try-box li .text {
	margin-bottom: 8px
}

.sm-mod-226 .try-box li .btn {
	margin-top: 13px
}

.sm-mod-226 .try-box li .try-btn {
	display: block;
	float: left;
	padding: 0 10px;
	background-color: #fff0e7;
	color: #f40;
	text-decoration: none;
	border: 1px solid #ffb08b;
	border-radius: 2px;
	line-height: 2
}

.sm-mod-226 .ju-box li .cost {
	float: left
}

.sm-mod-226 .ju-box li .cost strong {
	font-size: 24px
}

.sm-mod-226 .ju-box li .cost .g_price strong {
	font-weight: 400
}

.sm-mod-226 .ju-box li .cost-right {
	float: left;
	margin-left: 6px
}

.sm-mod-226 .ju-box li .old {
	float: left
}

.sm-mod-226 .ju-box li .discount {
	float: left;
	padding: 0 5px;
	background-color: #f40;
	color: #FFF;
	border-radius: 2px;
	clear: right
}

.sm-mod-226 .ju-box li .time {
	clear: both;
	zoom: 1
}

.sm-mod-226 .ju-box li .text {
	height: 36px;
	white-space: normal;
	overflow: hidden;
	margin-bottom: 7px
}

.sm-mod-226 .ju-box li .text a {
	color: #6c6c6c
}

.sm-mod-226 .tjb-box li .selledNum {
	height: 26px
}

.sm-mod-226 .tjb-box li .selledNum .trade {
	color: #9c9c9c
}

.sm-mod-226 .tjb-box li .selledNum .split {
	color: #ccc;
	margin: 0 8px
}

.sm-mod-226 .tjb-box li .selledNum .dijia {
	background: #ff7900 url(//img.alicdn.com/tps/i4/T1K1JIFKtdXXXYFfDb-24-16.png) no-repeat 0 1px;
	color: #fff;
	padding: 0 6px;
	line-height: 18px;
	height: 18px;
	padding-left: 20px;
	display: inline-block
}

.sm-mod-226 .tjb-box li .old del {
	color: #9c9c9c
}

.sm-mod-226 .tjb-box li .text {
	margin-bottom: 7px
}

.sm-mod-226 .icon-change {
	background: url('//img.alicdn.com/tps/i2/TB1AVVFGXXXXXakXFXXAz6UFXXX-16-16.png') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left
}

.sm-mod-226 .freenew-box .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.sm-mod-226 .freenew-box .sep {
	margin: 0 8px 0 10px;
	color: #999
}

@font-face {
	font-family: 'close';
	src: url('//at.alicdn.com/t/font_1409127155_2230563.eot');
	src: url('//at.alicdn.com/t/font_1409127155_2230563.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1409127155_2230563.woff') format('woff'), url('//at.alicdn.com/t/font_1409127155_2230563.ttf') format('truetype'), url('//at.alicdn.com/t/font_1409127155_2230563.svg#iconfont') format('svg')
}

.sm-mod-226 .freenew-desc {
	width: 180px;
	height: 300px;
	background: #f4faff;
	position: relative;
	overflow: hidden;
	float: left;
	*display: inline;
	margin: 20px 0 20px 20px
}

.sm-mod-226 .freenew-desc .freenew-title {
	margin: 28px 15px 10px 15px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	font-family: "microsoft yahei";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.sm-mod-226 .freenew-desc .freenew-title .icon-change {
	margin-right: 5px
}

.sm-mod-226 .freenew-desc .desc {
	margin: 0 15px;
	line-height: 24px
}

.sm-mod-226 .freenew-desc .icon-close {
	font-family: 'close';
	font-style: normal;
	font-size: 18px;
	position: absolute;
	z-index: 0;
	right: 10px;
	top: 5px;
	cursor: pointer;
	color: #ccc
}

.sm-mod-226 .narrow-content {
	width: 968px;
	float: left
}

.sm-mod-226 .yen {
	font-family: arial
}

.sm-mod-226 .tab-box {
	position: relative
}

.sm-mod-226 .tab-box:hover .prev,
.sm-mod-226 .tab-box:hover .next {
	display: block
}

.sm-mod-226 .sub-wrap {
	position: relative;
	width: 1148px;
	height: 310px;
	overflow: hidden
}

.sm-mod-226 .sub-pannel ul {
	width: 1168px
}

@font-face {
	font-family: 'sm-mod-226-iconfont';
	src: url('//at.alicdn.com/t/font_1399015554_9374514.eot');
	src: url('//at.alicdn.com/t/font_1399015554_9374514.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1399015554_9374514.woff') format('woff'), url('//at.alicdn.com/t/font_1399015554_9374514.ttf') format('truetype'), url('//at.alicdn.com/t/font_1399015554_9374514.svg#sm-mod-226-iconfont') format('svg')
}

.sm-mod-226 .prev,
.sm-mod-226 .next {
	display: none;
	position: absolute;
	z-index: 100;
	top: 50%;
	width: 30px;
	height: 40px;
	margin-top: -20px;
	text-decoration: none;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#19000000', EndColorStr='#19000000')
}

.sm-mod-226 .prev:hover,
.sm-mod-226 .next:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99000000', EndColorStr='#99000000')
}

.sm-mod-226 .prev {
	left: 10px
}

.sm-mod-226 .next {
	right: 10px
}

.sm-mod-226 .icon-prev,
.sm-mod-226 .icon-next {
	float: left;
	width: 30px;
	height: 40px;
	line-height: 40px;
	font-family: "sm-mod-226-iconfont";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	font-size: 28px;
	color: #fff
}

.sm-mod-226 .icon-prev {
	text-indent: -2px
}

.sm-mod-226 .icon-next {
	text-indent: 2px
}


/*pub-1|2014-06-05 19:57:23*/


/*!YUI-Compressor */